@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);

#header4-10 H1 {
  font-family: 'Oxygen', sans-serif;
  font-size: 72px;
}
#ext_menu-3 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-3.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-3 .mbr-navbar__hamburger {
  color: #ffffff;
}
#header2-12 P {
  text-align: left;
}
#ext_menu-3 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-3.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-3 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-11 .mbr-brand__name {
  font-size: 16px;
}
#menu-11.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-11 .mbr-navbar__hamburger {
  color: #ffffff;
}
#features1-12 .mbr-section__col .mbr-header__text {
  color: #ffffff;
}
#menu-11 .mbr-brand__name {
  font-size: 16px;
}
#menu-11.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-11 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-11 .mbr-brand__name {
  font-size: 16px;
}
#menu-11.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-11 .mbr-navbar__hamburger {
  color: #ffffff;
}
#features1-18 .mbr-section__col .mbr-header__text {
  text-align: center;
}
#menu-11 .mbr-brand__name {
  font-size: 16px;
}
#menu-11.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-11 .mbr-navbar__hamburger {
  color: #ffffff;
}
#header4-22 H1 {
  color: #2c82c9;
}
#menu-11 .mbr-brand__name {
  font-size: 16px;
}
#menu-11.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-11 .mbr-navbar__hamburger {
  color: #ffffff;
}
